@import 'global/vars';

@import 'global/reset';
@import 'global/forms';

@import 'plugins/autocomplete';

@import 'pages/userList';

body {
    background: url(../images/bg.png);
	line-height: 1;
    font-family: $font-Helvetica;
    font-weight: 300;
    font-size: 16px;
    overflow: hidden;
}

header {

    &#large-header {
        margin: 50px auto 0;
        width: 90%;

        h1 {
            background: url(../images/logo.png) no-repeat;
            height: 193px;
            margin: 0 auto;
            text-indent: -999em;
            width: 315px;
        }
    }

    &#small-header {
        width: 100%;
        height: 40px;
        @include grad-blue;
    }

}
#main {
    margin-top: 80px;
    padding-top: 13px;
    width: 100%;
    
    form{
        background: $dark-blue;
        border-radius: 3px;
        padding: 0.3em .3em .2em;
        width: 27em;
        margin: 0 auto;
        overflow: hidden;

        &#unfollow-message {
            width: 100%;

            .button-style {
                width: 40%;

                &.gray {
                    width: 20%;
                }
            }
        }
    }
}

#username {
    width: 31em;
    margin: 0 auto;
    position: relative;
    text-align: center;
    left: 0px;
}

#password {
    width: 31em;
    margin: 0 auto;
    position: relative;
    text-align: center;
    left: -1000em;

    input[type='submit'] {
        margin-left: .2em;
    }

    .undo {
        color: $dark-blue;
        display: block;
        font-size: 0.8em;
        font-weight: bold;
        margin-top: 10px;
        text-decoration: none;

        &:hover {
            color: $mid-blue ;
        }
    }
    
    figure {
        
        img{ 
            border-radius: 3px;
            float: left;
            height: 29px;
            width: 29px;
            margin: .15em 0 0 .1em;
        }
    }
}

#login-error {
    margin: 0 auto;
    position: relative;
    left: -1000em;

    img {
        float: left;
    }

    p {
        padding-left: 75px;

        strong {
            font-weight: bold;
            color: $pink;
            font-style: italic;
        }

        a {
            color: $dark-blue;
            font-weight: bold;
        }
    }
}

.move-out {
    width: 27em;
    margin: 0 auto;
}

.unfollow-form {
    width: 30em;
    margin: 0 auto;
}

/*** this is known to be real fucking weird. let it be. ***/
.shadow-bottom {
    height: 85px;
    width: 495px;
    display: block;
    margin: -53px 0 -20px;

    &.small {
        background: url("../images/shadow_bg_small.png") no-repeat scroll 50% 0 transparent;
    }

    &.large {
        background: url("../images/shadow_bg.png") no-repeat scroll 50% 0 transparent;
    }
}