/* box shadow */
/* border radius */
/* fullscreen bg */
/* horizontal nav lists */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  cursor: pointer; }

form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input {
  border-radius: 2px;
  font-size: .875em;
  padding: 0.4em .5em .5em;
  outline: none; }
  input[type='text'] {
    min-width: 69%;
    box-shadow: inset 1px 3px 3px #d6d6d6;
    -webkit-box-shadow: inset 1px 3px 3px #d6d6d6;
    -moz-box-shadow: inset 1px 3px 3px #d6d6d6;
    -o-box-shadow: inset 1px 3px 3px #d6d6d6;
    border: none; }
  input[type='password'] {
    border: none;
    box-shadow: 1px 3px 3px #D6D6D6 inset;
    box-shadow: inset 0px 1px 0px whitesmoke;
    -webkit-box-shadow: inset 0px 1px 0px whitesmoke;
    -moz-box-shadow: inset 0px 1px 0px whitesmoke;
    -o-box-shadow: inset 0px 1px 0px whitesmoke;
    float: left;
    margin-left: 0.4em;
    min-width: 61%; }
  input[type='submit'] {
    background: #9bd9e7;
    background: -moz-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9bd9e7), color-stop(3%, #85d1e2), color-stop(45%, #74c4da), color-stop(100%, #54aac9));
    background: -webkit-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
    background: -o-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
    background: -ms-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
    background: linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bd9e7', endColorstr='#54aac9',GradientType=0 );
    box-shadow: inset 0px 1px 0px whitesmoke;
    -webkit-box-shadow: inset 0px 1px 0px whitesmoke;
    -moz-box-shadow: inset 0px 1px 0px whitesmoke;
    -o-box-shadow: inset 0px 1px 0px whitesmoke;
    border-bottom: 1px solid #000;
    border-top: none;
    border-right: none;
    border-left: none;
    font-weight: bold;
    padding: 0.46em 1.85em;
    text-shadow: 0 1px #B5DFE7;
    width: 25%; }

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  height: 125px;
  outline: none;
  padding: .75em;
  font-size: .875em; }

.button-style {
  background: #9bd9e7;
  background: -moz-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9bd9e7), color-stop(3%, #85d1e2), color-stop(45%, #74c4da), color-stop(100%, #54aac9));
  background: -webkit-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  background: -o-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  background: -ms-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  background: linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bd9e7', endColorstr='#54aac9',GradientType=0 );
  box-shadow: inset 0px 1px 0px whitesmoke;
  -webkit-box-shadow: inset 0px 1px 0px whitesmoke;
  -moz-box-shadow: inset 0px 1px 0px whitesmoke;
  -o-box-shadow: inset 0px 1px 0px whitesmoke;
  border-bottom: 1px solid #000;
  border-top: none;
  border-right: none;
  border-left: none;
  font-weight: bold;
  padding: 0.46em 1.85em;
  text-shadow: 0 1px #B5DFE7;
  width: 25%;
  border-radius: 2px;
  font-size: .875em;
  padding: 0.4em .8em .5em;
  float: right; }
  .button-style.gray {
    background: #ffffff;
    background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e5e5e5));
    background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
    background: -o-linear-gradient(top, white 0%, #e5e5e5 100%);
    background: -ms-linear-gradient(top, white 0%, #e5e5e5 100%);
    background: linear-gradient(to bottom, white 0%, #e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    margin-right: 5px;
    text-shadow: 0 1px white;
    padding: 0.4em .5em .5em; }

.jsonSuggestResults {
  position: absolute;
  border-left: 1px solid #DDD;
  padding: 0px;
  margin: 0px 2px;
  z-index: 1;
  width: 303px !important;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  box-shadow: 0px 3px 11px #d8d8d8;
  -webkit-box-shadow: 0px 3px 11px #d8d8d8;
  -moz-box-shadow: 0px 3px 11px #d8d8d8;
  -o-box-shadow: 0px 3px 11px #d8d8d8;
  border-top: 1px solid white; }
  .jsonSuggestResults .resultItem {
    margin: 0px;
    padding: 7px 5px;
    position: relative;
    height: auto;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    overflow: hidden; }
    .jsonSuggestResults .resultItem.odd {
      background-color: #FFFFFF; }
    .jsonSuggestResults .resultItem.even {
      background-color: #FFFFFF; }
    .jsonSuggestResults .resultItem.hover {
      background-color: #e9e9e9; }
    .jsonSuggestResults .resultItem img {
      float: left;
      margin-right: 10px;
      width: 30px;
      height: 30px;
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px; }
    .jsonSuggestResults .resultItem p {
      margin: 0px;
      padding: 0px;
      color: #6D6D6D;
      font-size: 13px;
      font-family: arial;
      top: 3px;
      position: relative;
      font-weight: bold; }
      .jsonSuggestResults .resultItem p strong {
        font-weight: bold; }
      .jsonSuggestResults .resultItem p.twitterHandle {
        font-size: 10px;
        color: #54aac9;
        padding-top: 3px; }
        .jsonSuggestResults .resultItem p.twitterHandle:before {
          content: '@'; }

#user-list {
  width: 40%;
  margin: 0 auto 40px;
  min-width: 480px; }
  #user-list #user-profile {
    padding: 1em .75em;
    border-radius: 15px 15px 0 0;
    margin-bottom: -5px;
    margin-top: -50px;
    background: url("../images/tmp_bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 0.35em solid #002f3f;
    border-bottom: 0;
    overflow: hidden; }
    #user-list #user-profile > img {
      border-radius: 4px;
      border: 4px solid white;
      box-shadow: 0px 1px 2px #2C2C2C;
      margin-bottom: 10px;
      float: left; }
    #user-list #user-profile .button-style {
      float: right;
      text-decoration: none;
      margin-top: 1.5em;
      color: #424242;
      font-size: 12px;
      text-align: center;
      text-shadow: 1px 1px 1px white; }
    #user-list #user-profile .middle-profile {
      margin-left: 1em;
      padding-top: 0.5em;
      float: left; }
      #user-list #user-profile .middle-profile h2 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 3px;
        color: white;
        text-shadow: 0px 1px 2px #2C2C2C; }
      #user-list #user-profile .middle-profile p {
        font-size: 14px; }
  #user-list #unfollow-message p {
    float: left;
    padding: 1em .75em;
    font-size: 12px;
    color: #aaa;
    font-style: italic; }
  #user-list h3 {
    position: relative;
    text-transform: uppercase;
    font-size: 11px;
    color: #9C9C9C;
    top: 30px; }
  #user-list #unfollow-list {
    margin-top: 40px;
    border-top: 1px dotted #ccc; }
    #user-list #unfollow-list li {
      padding: 15px 0;
      border-bottom: 1px dotted #ccc;
      overflow: hidden; }
      #user-list #unfollow-list li img {
        float: left;
        border-radius: 4px; }
      #user-list #unfollow-list li .right-profile {
        padding-left: 60px; }
        #user-list #unfollow-list li .right-profile h2 {
          font-weight: bold;
          font-size: 14px;
          margin-bottom: 5px; }
        #user-list #unfollow-list li .right-profile p {
          font-family: Arial, sans-serif;
          color: #535353;
          font-size: 14px;
          line-height: 1.25; }

body {
  background: url(../images/bg.png);
  line-height: 1;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px; }

header#large-header {
  margin: 50px auto 0;
  width: 90%; }
  header#large-header h1 {
    background: url(../images/logo.png) no-repeat;
    height: 193px;
    margin: 0 auto;
    text-indent: -999em;
    width: 315px; }
header#small-header {
  width: 100%;
  height: 40px;
  background: #9bd9e7;
  background: -moz-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9bd9e7), color-stop(3%, #85d1e2), color-stop(45%, #74c4da), color-stop(100%, #54aac9));
  background: -webkit-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  background: -o-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  background: -ms-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  background: linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bd9e7', endColorstr='#54aac9',GradientType=0 ); }

#main {
  margin-top: 80px;
  padding-top: 13px;
  width: 100%; }
  #main form {
    background: #002f3f;
    border-radius: 3px;
    padding: 0.3em .3em .2em;
    width: 27em;
    margin: 0 auto;
    overflow: hidden; }
    #main form#unfollow-message {
      width: 100%; }
      #main form#unfollow-message .button-style {
        width: 40%; }
        #main form#unfollow-message .button-style.gray {
          width: 20%; }

#login {
  width: 60%;
  min-width: 480px;
  margin: -90px auto 0;
  text-align: center; }
  #login .home-top p {
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold; }
  #login .home-bottom {
    margin-top: 100px;
    background: url(../images/home_bg_shadow.png) no-repeat center 29px;
    height: 100px; }
    #login .home-bottom a {
      background: #9bd9e7;
      background: -moz-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9bd9e7), color-stop(3%, #85d1e2), color-stop(45%, #74c4da), color-stop(100%, #54aac9));
      background: -webkit-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
      background: -o-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
      background: -ms-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
      background: linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bd9e7', endColorstr='#54aac9',GradientType=0 );
      box-shadow: inset 0px 1px 0px whitesmoke;
      -webkit-box-shadow: inset 0px 1px 0px whitesmoke;
      -moz-box-shadow: inset 0px 1px 0px whitesmoke;
      -o-box-shadow: inset 0px 1px 0px whitesmoke;
      font-weight: bold;
      border-radius: 2px;
      font-size: 1.2em;
      padding: 1em 3.5em;
      color: white;
      text-shadow: 1px 1px 0 #455964;
      border-radius: 55px;
      border: 3px solid black;
      text-decoration: none; }
      #login .home-bottom a:hover {
        background: #9bd9e7;
        background: -moz-linear-gradient(top, rgba(155, 217, 231, 0.8) 0%, #54aac9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9bd9e7), color-stop(100%, #54aac9));
        background: -webkit-linear-gradient(top, rgba(155, 217, 231, 0.8) 0%, #54aac9 100%);
        background: -o-linear-gradient(top, rgba(155, 217, 231, 0.8) 0%, #54aac9 100%);
        background: -ms-linear-gradient(top, rgba(155, 217, 231, 0.8) 0%, #54aac9 100%);
        background: linear-gradient(top, rgba(155, 217, 231, 0.8) 0%, #54aac9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bd9e7', endColorstr='#54aac9',GradientType=0 ); }

#logout-link {
  padding: .5em 1.75em;
  background: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 14px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 15px;
  border-bottom: 1px solid white; }

.unfollow-form {
  width: 30em;
  margin: 0 auto; }

/*** this is known to be real fucking weird. let it be. ***/
.shadow-bottom {
  height: 85px;
  width: 495px;
  display: block;
  margin: -53px 0 -20px; }
  .shadow-bottom.small {
    background: url("../images/shadow_bg_small.png") no-repeat scroll 50% 0 transparent; }
  .shadow-bottom.large {
    background: url("../images/shadow_bg.png") no-repeat scroll 50% 0 transparent; }
