#user-list {
	width: 40%;
	margin: 0 auto 40px;
	min-width: 480px;

	#user-profile {
		padding: 1em .75em;
		border-radius: 15px 15px 0 0;
		margin-bottom: -5px;
		margin-top: -50px;
		@include fullscreen('../images/tmp_bg.png');
		border: .35em solid $dark-blue;
		border-bottom: 0;
		overflow: hidden;

		&.empty {
			border-bottom: .35em solid $dark-blue;
		}

		&>img {
			border-radius: 4px;
			border: 4px solid white;
			box-shadow: 0px 1px 2px #2C2C2C;
			margin-bottom: 10px;
			float: left;
		}

		.button-style {
			float: right;
			text-decoration: none;
			margin-top: 1.5em;
			color: #424242;
			font-size: 12px;
			text-align: center;
			text-shadow: 1px 1px 1px white;
		}

		.middle-profile {
			margin-left: 1em;
			padding-top: 0.5em;
			float: left;

			h2 {
				font-weight: bold;
				font-size: 20px;
				margin-bottom: 3px;
				color: white;
				text-shadow: 0px 1px 2px #2C2C2C;
			}

			p {
				font-size: 14px;
			}
		}
	}

	#unfollow-message {
		p {
			float: left;
			padding: 1em .75em 0;
			font-size: 12px;
			color: #aaa;
			font-style: italic;
		}
	}

	h3 {
		position: relative;
		text-transform: uppercase;
		font-size: 11px;
		color: #9C9C9C;
		top: 30px;

		&.left {
			float: left;
		}

		&.right {
			float: right;
		}

		a {
			color: rgb(204, 124, 124);
			text-decoration: none;
		}
	}

	#unfollow-list {
		margin-top: 40px;
		border-top: 1px dotted #ccc;

		&.edit {
			margin-top: 50px;
		}

		li {
			padding: 15px 0;
			border-bottom: 1px dotted #ccc;
			overflow: hidden;

			img {
				float: left;
				border-radius: 4px;
			}

			.right-profile {
				padding-left: 60px;

				h2 {
					font-weight: bold;
					font-size: 14px;
					margin-bottom: 5px;
					margin-top: 8px;
				}

				p {
					font-family: $font-sans;
					color: #535353;
					font-size: 14px;
					line-height: 1.25;
				}
			}
		}
	}
}

#login-hold {
	background: rgb(0, 47, 63);
	padding: .4em;
	border-radius: 0 0 4px 4px;
	text-align: center;

	a {
		@include grad-blue;
	    @include box-shadow(0px, 1px, 0px, #F5F5F5, true);
	    border-bottom: 1px solid #000;
	    border-top: none;
	    border-right: none;
	    border-left: none;
	    font-weight: bold;
	    text-shadow: 0 1px #B5DFE7;
		width: 100%;
		border-radius: 2px;
		font-size: .875em;
		text-decoration: none;
		color: rgb(39, 55, 78);
		display: block;
		height: 35px;
		line-height: 35px;
	}
}

#lower-status {
	background: rgb(0, 47, 63);
	padding: .4em;
	border-radius: 0 0 4px 4px;
	text-align: center;

	h4 {
		text-align: left;
		font-size: 12px;
		text-transform: uppercase;
		color: rgb(221, 221, 221);
		font-weight: bold;
		padding: .5em;
		text-shadow: 1px 1px 1px black;
	}

	p {
		text-align: left;
		padding: 0 .5em;
		font-size: 12px;
		color: rgb(204, 204, 204);
		font-style: italic;

		&.message {
			padding: 1em 2em;
			font-size: 18px;
			font-style: normal;
			line-height: 1.25;
			color: rgb(201, 160, 160);

			&:before,
			&:after {
				content: '"';
				color: #eee;
			}
		}
	}
}