@import 'global/vars';

@import 'global/reset';
@import 'global/forms';

@import 'plugins/autocomplete';

@import 'pages/userList';

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background: url(../images/bg.png);
	line-height: 1;
    font-family: $font-Helvetica;
    font-weight: 300;
    font-size: 16px;

    &#lost,
    &#wrong {
        width: 100%;
        height: 100%;
        @include fullscreen('../images/404.jpg');
        padding: 32% 16%;

        h4 {
            font-family: helvetica;
            font-weight: bold;
            color: white;
            font-size: 39px;
        }

        p {
            color: white;
            margin: 8px 0;

            a {
                color: rgb(236, 188, 193);
                font-weight: bold;
            }
        }
    }

    &#wrong {
        @include fullscreen('../images/500.jpg');
        padding: 15% 15%;

        p {
            text-shadow: 1px 2px 2px black;
        }
    }
}

header {

    &#large-header {
        margin: 50px auto 0;
        width: 90%;

        h1 {
            background: url(../images/logo.png) no-repeat;
            height: 193px;
            margin: 0 auto;
            text-indent: -999em;
            width: 315px;
        }
    }

    &#small-header {
        width: 100%;
        height: 40px;
        @include grad-blue;
    }

}
#main {
    margin-top: 80px;
    padding-top: 13px;
    width: 100%;
    
    form{
        background: $dark-blue;
        border-radius: 3px;
        padding: 0.3em .3em .2em;
        width: 27em;
        margin: 0 auto;
        overflow: hidden;

        &#unfollow-message {
            width: 100%;

            .button-style {
                width: 40%;

                &.gray {
                    width: 20%;
                }
            }
        }
    }
}

#login {
    min-width: 480px;
    margin: -90px auto 0;
    text-align: center;

    .home-top {

        p {
            font-size: 14px;
            font-family: $font-sans;
            text-align: center;
            font-weight: bold;
            color: $dark-blue;
        }
    }

    .home-bottom {
        width: 90%;
        margin: 100px auto 0;
        max-width: 840px;
        min-width: 800px;

        .home-left {
            float: left;
            width: 40%;
            padding-top: 20px;

            p {
                font-weight: bold;
                font-size: 24px;
                text-align: left;
                color: rgb(97, 97, 97);
                line-height: 1.1;

                em {
                    font-style: italic;
                }

                span {
                    font-size: 16px;
                    font-weight: normal;
                }
            }
        }

        .home-right {
            padding-top: 48px;
            float: right;
            background: url(../images/home_bg_shadow.png) no-repeat center bottom;
            height: 50px;
            width: 40%;

             a {
                @include grad-blue;
                @include box-shadow(0px, 1px, 0px, #F5F5F5, true);
                font-weight: bold;
                border-radius: 2px;
                font-size: 1.2em;
                padding: .75em 3.5em;
                color: white;
                text-shadow: 1px 1px 0 $dark-blue;
                border-radius: 55px;
                border: 4px solid $dark-blue;
                text-decoration: none;
                
                &:hover {
                    @include grad-blue-hover;
                }
            }
        }
    }
}

#home-tile-cover {
    background: rgba(255, 255, 255, 0.77);
    position: absolute;
    z-index: -1;
    width: 105%;
    height: 249px;
    top: 300px;
}

#home-tile {
    position: absolute;
    z-index: -2;
    width: 105%;
    height: 247px;
    overflow: hidden;
    top: 300px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;

    li {
        float: left;
        margin-left: 2px;
        margin-bottom: 2px;
        width: 60px;
        height: 60px;

        img {
            width: 60px;
            height: 60px;
        }
    }
}

.center-me {
    width: 430px;
    margin: 0 auto;

    #empty-message {
        margin-top: -50px;
        margin-bottom: 20px;
    }

    form {
        p {
            float: left;
            padding: .4em .75em 0;

            label {
                color: rgb(200, 235, 235);
                font-size: 12px;
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        input[type='submit'] {
            display: block;
            width: 185px;
            float: right;
        }
    }
}

#empty-message {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
    padding: 2em;
    font-weight: bold;
    background: rgb(230, 224, 224);
    margin-top: 15px;
    color: rgb(102, 102, 102);
    text-align: center;
    border-bottom: 1px solid rgb(179, 1, 1);
    border-top: 1px solid rgb(179, 1, 1);

    p {
        &:first-child {
            em {
                color: rgb(206, 87, 87);
                font-style: italic;
            }
        }

        &:last-child {
            font-weight: normal;
            font-size: 13px;
            margin-top: 3px
        }
    }
}

#logout-link {
    padding: .5em 1.75em;
    background: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 14px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 15px;
    border-bottom: 1px solid white;
}

.unfollow-form {
    width: 30em;
    margin: 0 auto;

    span.ui-helper-hidden-accessible {
        display: none;
    }
}

.shadow-bottom {
    height: 85px;
    width: 495px;
    display: block;
    margin: -53px 0 -20px;

    &.small {
        background: url("../images/shadow_bg_small.png") no-repeat scroll 50% 0 transparent;
    }

    &.large {
        background: url("../images/shadow_bg.png") no-repeat scroll 50% 0 transparent;
    }
}