/* box shadow */
/* border radius */
/* fullscreen bg */
/* horizontal nav lists */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  cursor: pointer; }

form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input {
  border-radius: 2px;
  font-size: .875em;
  padding: 0.4em .5em .5em;
  outline: none; }
  input[type='text'] {
    min-width: 69%;
    box-shadow: inset 1px 3px 3px #d6d6d6;
    -webkit-box-shadow: inset 1px 3px 3px #d6d6d6;
    -moz-box-shadow: inset 1px 3px 3px #d6d6d6;
    -o-box-shadow: inset 1px 3px 3px #d6d6d6;
    border: none; }
  input[type='password'] {
    border: none;
    box-shadow: 1px 3px 3px #D6D6D6 inset;
    box-shadow: inset 0px 1px 0px whitesmoke;
    -webkit-box-shadow: inset 0px 1px 0px whitesmoke;
    -moz-box-shadow: inset 0px 1px 0px whitesmoke;
    -o-box-shadow: inset 0px 1px 0px whitesmoke;
    float: left;
    margin-left: 0.4em;
    min-width: 61%; }
  input[type='submit'] {
    background: #9bd9e7;
    background: -moz-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9bd9e7), color-stop(3%, #85d1e2), color-stop(45%, #74c4da), color-stop(100%, #54aac9));
    background: -webkit-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
    background: -o-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
    background: -ms-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
    background: linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bd9e7', endColorstr='#54aac9',GradientType=0 );
    box-shadow: inset 0px 1px 0px whitesmoke;
    -webkit-box-shadow: inset 0px 1px 0px whitesmoke;
    -moz-box-shadow: inset 0px 1px 0px whitesmoke;
    -o-box-shadow: inset 0px 1px 0px whitesmoke;
    border-bottom: 1px solid #000;
    border-top: none;
    border-right: none;
    border-left: none;
    font-weight: bold;
    text-shadow: 0 1px #B5DFE7;
    width: 25%; }

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  height: 125px;
  outline: none;
  padding: .75em;
  font-size: .875em; }

.button-style {
  background: #9bd9e7;
  background: -moz-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9bd9e7), color-stop(3%, #85d1e2), color-stop(45%, #74c4da), color-stop(100%, #54aac9));
  background: -webkit-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  background: -o-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  background: -ms-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  background: linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bd9e7', endColorstr='#54aac9',GradientType=0 );
  box-shadow: inset 0px 1px 0px whitesmoke;
  -webkit-box-shadow: inset 0px 1px 0px whitesmoke;
  -moz-box-shadow: inset 0px 1px 0px whitesmoke;
  -o-box-shadow: inset 0px 1px 0px whitesmoke;
  border-bottom: 1px solid #000;
  border-top: none;
  border-right: none;
  border-left: none;
  font-weight: bold;
  padding: 0.46em 1.85em;
  text-shadow: 0 1px #B5DFE7;
  width: 25%;
  border-radius: 2px;
  font-size: .875em;
  padding: 0.4em .8em .5em;
  float: right; }
  .button-style.gray {
    background: #ffffff;
    background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e5e5e5));
    background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
    background: -o-linear-gradient(top, white 0%, #e5e5e5 100%);
    background: -ms-linear-gradient(top, white 0%, #e5e5e5 100%);
    background: linear-gradient(to bottom, white 0%, #e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    margin-right: 5px;
    text-shadow: 0 1px white;
    padding: 0.4em .5em .5em; }

.ui-autocomplete {
  width: 300px;
  background: white;
  overflow: auto;
  max-height: 280px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc; }
  .ui-autocomplete .ui-menu-item {
    clear: both;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .ui-autocomplete .ui-menu-item:hover {
      background: #eee; }
    .ui-autocomplete .ui-menu-item > a {
      overflow: hidden;
      display: block;
      padding: 5px .5em;
      margin: 0; }
      .ui-autocomplete .ui-menu-item > a.ui-state-focus {
        background: #eee; }
      .ui-autocomplete .ui-menu-item > a img {
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 4px; }
      .ui-autocomplete .ui-menu-item > a .user-right {
        padding-left: 20px;
        float: left;
        padding-top: 3px; }
        .ui-autocomplete .ui-menu-item > a .user-right p:first-child {
          font-weight: bold;
          font-size: 14px; }
        .ui-autocomplete .ui-menu-item > a .user-right p:last-child {
          font-size: 12px;
          color: #777;
          margin-top: 3px; }

#user-list {
  width: 40%;
  margin: 0 auto 40px;
  min-width: 480px; }
  #user-list #user-profile {
    padding: 1em .75em;
    border-radius: 15px 15px 0 0;
    margin-bottom: -5px;
    margin-top: -50px;
    background: url("../images/tmp_bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 0.35em solid #002f3f;
    border-bottom: 0;
    overflow: hidden; }
    #user-list #user-profile.empty {
      border-bottom: 0.35em solid #002f3f; }
    #user-list #user-profile > img {
      border-radius: 4px;
      border: 4px solid white;
      box-shadow: 0px 1px 2px #2C2C2C;
      margin-bottom: 10px;
      float: left; }
    #user-list #user-profile .button-style {
      float: right;
      text-decoration: none;
      margin-top: 1.5em;
      color: #424242;
      font-size: 12px;
      text-align: center;
      text-shadow: 1px 1px 1px white; }
    #user-list #user-profile .middle-profile {
      margin-left: 1em;
      padding-top: 0.5em;
      float: left; }
      #user-list #user-profile .middle-profile h2 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 3px;
        color: white;
        text-shadow: 0px 1px 2px #2C2C2C; }
      #user-list #user-profile .middle-profile p {
        font-size: 14px; }
  #user-list #unfollow-message {
    position: relative; }
    #user-list #unfollow-message p {
      float: left;
      padding: 1em .75em 0;
      font-size: 12px;
      color: #aaa;
      font-style: italic; }
  #user-list h3 {
    position: relative;
    text-transform: uppercase;
    font-size: 11px;
    color: #9C9C9C;
    top: 30px; }
    #user-list h3.left {
      float: left; }
    #user-list h3.right {
      float: right; }
    #user-list h3 a {
      color: #cc7c7c;
      text-decoration: none; }
  #user-list #unfollow-list {
    margin-top: 40px;
    border-top: 1px dotted #ccc; }
    #user-list #unfollow-list.edit {
      margin-top: 50px; }
    #user-list #unfollow-list li {
      padding: 15px 0;
      border-bottom: 1px dotted #ccc;
      overflow: hidden; }
      #user-list #unfollow-list li img {
        float: left;
        border-radius: 4px; }
      #user-list #unfollow-list li .right-profile {
        padding-left: 60px; }
        #user-list #unfollow-list li .right-profile h2 {
          font-weight: bold;
          font-size: 14px;
          margin-bottom: 5px;
          margin-top: 8px; }
        #user-list #unfollow-list li .right-profile p {
          font-family: Arial, sans-serif;
          color: #535353;
          font-size: 14px;
          line-height: 1.25; }

#login-hold {
  background: #002f3f;
  padding: .4em;
  border-radius: 0 0 4px 4px;
  text-align: center; }
  #login-hold a {
    background: #9bd9e7;
    background: -moz-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9bd9e7), color-stop(3%, #85d1e2), color-stop(45%, #74c4da), color-stop(100%, #54aac9));
    background: -webkit-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
    background: -o-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
    background: -ms-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
    background: linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bd9e7', endColorstr='#54aac9',GradientType=0 );
    box-shadow: inset 0px 1px 0px whitesmoke;
    -webkit-box-shadow: inset 0px 1px 0px whitesmoke;
    -moz-box-shadow: inset 0px 1px 0px whitesmoke;
    -o-box-shadow: inset 0px 1px 0px whitesmoke;
    border-bottom: 1px solid #000;
    border-top: none;
    border-right: none;
    border-left: none;
    font-weight: bold;
    text-shadow: 0 1px #B5DFE7;
    width: 100%;
    border-radius: 2px;
    font-size: .875em;
    text-decoration: none;
    color: #27374e;
    display: block;
    height: 35px;
    line-height: 35px; }

#lower-status {
  background: #002f3f;
  padding: .4em;
  border-radius: 0 0 4px 4px;
  text-align: center; }
  #lower-status h4 {
    background: #f7f7f7;
    text-align: left;
    font-size: 12px;
    color: #4e4e4e;
    padding: .5em;
    font-family: arial;
    text-shadow: 1px 1px 1px white; }
  #lower-status p {
    background: #fffdfd;
    text-align: left;
    padding: 0 .5em;
    font-size: 12px;
    color: #cccccc;
    font-style: italic; }
    #lower-status p.message {
      padding: 1em 2em;
      font-size: 16px;
      font-style: normal;
      line-height: 1.25;
      color: #2c3557;
      text-align: center;
      font-family: Arial, sans-serif;
      font-weight: bold; }
      #lower-status p.message:before, #lower-status p.message:after {
        content: '"';
        color: #eee; }

.errorlist {
  position: absolute;
  top: 108px;
  left: 6px; }
  .errorlist li {
    font-size: 11px;
    background: #e9c1c1;
    padding: .4em .8em;
    color: white;
    font-family: arial;
    border-top: 1px solid #f76262;
    border-right: 1px solid #f76262; }

body,
html {
  width: 100%;
  height: 100%; }

body {
  background: url(../images/bg.png);
  line-height: 1;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px; }
  body#lost, body#wrong {
    width: 100%;
    height: 100%;
    background: url("../images/404.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 32% 16%; }
    body#lost h4, body#wrong h4 {
      font-family: helvetica;
      font-weight: bold;
      color: white;
      font-size: 39px; }
    body#lost p, body#wrong p {
      color: white;
      margin: 8px 0; }
      body#lost p a, body#wrong p a {
        color: #ecbcc1;
        font-weight: bold; }
  body#wrong {
    background: url("../images/500.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 15% 15%; }
    body#wrong p {
      text-shadow: 1px 2px 2px black; }

header#large-header {
  margin: 50px auto 0;
  width: 40%; }
  header#large-header h1 {
    background: url(../images/logo.png) no-repeat;
    height: 193px;
    margin: 0 auto;
    text-indent: -999em;
    width: 315px; }
header#small-header {
  width: 100%;
  height: 40px;
  background: #9bd9e7;
  background: -moz-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9bd9e7), color-stop(3%, #85d1e2), color-stop(45%, #74c4da), color-stop(100%, #54aac9));
  background: -webkit-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  background: -o-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  background: -ms-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  background: linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bd9e7', endColorstr='#54aac9',GradientType=0 ); }

#main {
  margin-top: 80px;
  padding-top: 13px;
  width: 100%; }
  #main form {
    background: #002f3f;
    border-radius: 3px;
    padding: 0.3em .3em .2em;
    width: 27em;
    margin: 0 auto;
    overflow: hidden; }
    #main form#unfollow-message {
      width: 100%; }
      #main form#unfollow-message .button-style {
        width: 34%; }
        #main form#unfollow-message .button-style.gray {
          width: 20%; }

#login {
  min-width: 480px;
  margin: -90px auto 0;
  text-align: center; }
  #login .home-top p {
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    color: #002f3f; }
  #login .home-bottom {
    width: 90%;
    margin: 100px auto 0;
    max-width: 840px;
    min-width: 800px; }
    #login .home-bottom .home-left {
      float: left;
      width: 40%;
      padding-top: 20px; }
      #login .home-bottom .home-left p {
        font-weight: bold;
        font-size: 24px;
        text-align: left;
        color: #616161;
        line-height: 1.1; }
        #login .home-bottom .home-left p em {
          font-style: italic; }
        #login .home-bottom .home-left p span {
          font-size: 16px;
          font-weight: normal; }
    #login .home-bottom .home-right {
      padding-top: 48px;
      float: right;
      background: url(../images/home_bg_shadow.png) no-repeat center bottom;
      height: 50px;
      width: 40%; }
      #login .home-bottom .home-right a {
        background: #9bd9e7;
        background: -moz-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9bd9e7), color-stop(3%, #85d1e2), color-stop(45%, #74c4da), color-stop(100%, #54aac9));
        background: -webkit-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
        background: -o-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
        background: -ms-linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
        background: linear-gradient(top, #9bd9e7 0%, #85d1e2 3%, #74c4da 45%, #54aac9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bd9e7', endColorstr='#54aac9',GradientType=0 );
        box-shadow: inset 0px 1px 0px whitesmoke;
        -webkit-box-shadow: inset 0px 1px 0px whitesmoke;
        -moz-box-shadow: inset 0px 1px 0px whitesmoke;
        -o-box-shadow: inset 0px 1px 0px whitesmoke;
        font-weight: bold;
        border-radius: 2px;
        font-size: 1.2em;
        padding: .75em 3.5em;
        color: white;
        text-shadow: 1px 1px 0 #002f3f;
        border-radius: 55px;
        border: 4px solid #002f3f;
        text-decoration: none; }
        #login .home-bottom .home-right a:hover {
          background: #9bd9e7;
          background: -moz-linear-gradient(top, rgba(155, 217, 231, 0.8) 0%, #54aac9 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9bd9e7), color-stop(100%, #54aac9));
          background: -webkit-linear-gradient(top, rgba(155, 217, 231, 0.8) 0%, #54aac9 100%);
          background: -o-linear-gradient(top, rgba(155, 217, 231, 0.8) 0%, #54aac9 100%);
          background: -ms-linear-gradient(top, rgba(155, 217, 231, 0.8) 0%, #54aac9 100%);
          background: linear-gradient(top, rgba(155, 217, 231, 0.8) 0%, #54aac9 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bd9e7', endColorstr='#54aac9',GradientType=0 ); }

#home-tile-cover {
  background: rgba(255, 255, 255, 0.77);
  position: absolute;
  z-index: -1;
  width: 105%;
  height: 249px;
  top: 300px; }

#home-tile {
  position: absolute;
  z-index: -2;
  width: 105%;
  height: 247px;
  overflow: hidden;
  top: 300px;
  border-top: 2px solid white;
  border-bottom: 2px solid white; }
  #home-tile li {
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
    width: 60px;
    height: 60px; }
    #home-tile li img {
      width: 60px;
      height: 60px; }

.center-me {
  width: 430px;
  margin: 0 auto; }
  .center-me #empty-message {
    margin-top: -50px;
    margin-bottom: 20px; }
  .center-me form p {
    float: left;
    padding: .4em .75em 0; }
    .center-me form p label {
      color: #c8ebeb;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold; }
  .center-me form input[type='submit'] {
    display: block;
    width: 185px;
    float: right; }

#empty-message {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  padding: 2em;
  font-weight: bold;
  background: #eee8e8;
  margin-top: 15px;
  color: #666666;
  text-align: center;
  border-bottom: 1px solid #e9d4d4;
  border-top: 1px solid #e9d4d4; }
  #empty-message.suck-up {
    margin-top: 5px; }
  #empty-message.suck-up-border {
    border-top: 0.35em solid #002F3F;
    margin-top: 5px; }
  #empty-message p:first-child em {
    color: #ce5757;
    font-style: italic; }
  #empty-message p:last-child {
    font-weight: normal;
    font-size: 13px;
    margin-top: 3px; }

#avatar {
  border-radius: 4px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 12px;
  right: 120px; }

#logout-link {
  padding: .5em 1.75em;
  background: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 14px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 15px;
  border-bottom: 1px solid white; }

.unfollow-form {
  width: 30em;
  margin: 0 auto; }
  .unfollow-form span.ui-helper-hidden-accessible {
    display: none; }

.shadow-bottom {
  height: 85px;
  width: 495px;
  display: block;
  margin: -53px 0 -20px; }
  .shadow-bottom.small {
    background: url("../images/shadow_bg_small.png") no-repeat scroll 50% 0 transparent; }
  .shadow-bottom.large {
    background: url("../images/shadow_bg.png") no-repeat scroll 50% 0 transparent; }
