{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}

<div id="unfollow" class="unfollow-form">
	<form>
		<input id="unfollow-input" type="text" placeholder="who are you unfollowing?"/>
		<input type="submit" value="Unfollow" />
	</form>
	<span class="shadow-bottom large"></span>
</div>

{% else %}

<div id="login">
	<div class="home-top">
		<p>Let em' know why your flying the coop.</p>
	</div>
	<div class="home-bottom">
		<a class"button-style" href="{% url 'socialauth_begin' 'twitter'%}">Login with Twitter</a>
	</div>
</div>

{% endif %}
{% endblock %}
