<div id="username" class="move-out">
	<form>
		<input type="text" placeholder="enter your twitter username"/>
		<input type="submit" value="Next" />
	</form>
	<span class="shadow-bottom large"></span>
</div>
<div id="password" class="move-out">
	<form>
		<figure></figure>
		<input type="password" placeholder="enter your password"/>
		<input type="submit" value="Login" />
	</form>
	<span class="shadow-bottom large"></span>
	<a class="undo">Need another try?</a>
</div>
<div id="login-error" class="move-out">
	<img src="/media/images/oops.png" />
	<p>
		<strong>Oops!</strong> It looks like we're having a tough time finding that Twitter account.  <a class="undo">Let's try again &raquo;</a>
	</p>
	<span class="shadow-bottom small"></span>
</div>