<!doctype html>
<html>
<head>
	<title></title>

	<!-- STYLE -->
	<link rel="stylesheet" href="media/css/style.css">

	<!-- DEPENDENCIES -->
    <script src="media/js/lib/jquery-1.8.2.js"></script>
    <script src="media/js/lib/underscore-1.4.2.js"></script>
    <script src="media/js/lib/backbone-0.9.2.js"></script>

    <!-- LAUNCH -->
	<script src="media/js/site.js"></script>

	<!-- HELPERS -->
	<script src="media/js/utils.js"></script>
	<script src="media/js/plugins/plugins.js"></script>
	<script src="media/js/plugins/ui.js"></script>

</head>

<body id="wrong">
	<h4>Welp!!! Looks like we have a problem of some sort.</h4>
	<p>I'd tell you what's wrong but I'm not quite sure right now.  Just enjoy looking at this until we get our stuff together.</p>
</div> <!-- /container -->

  <script>window.jQuery || document.write('<script src="media/js/lib/jquery-1.8.2.js"><\/script>')</script>

</body>
</html>