<!doctype html>
<html>
<head>
	<title></title>

	<!-- STYLE -->
	<link rel="stylesheet" href="/-/static/css/style.css">

	<!-- DEPENDENCIES -->
    <script src="/-/static/js/lib/jquery-1.8.2.js"></script>
    <script src="/-/static/js/lib/underscore-1.4.2.js"></script>
    <script src="/-/static/js/lib/backbone-0.9.2.js"></script>

    <!-- LAUNCH -->
	<script src="/-/static/js/site.js"></script>

	<!-- HELPERS -->
	<script src="/-/static/js/utils.js"></script>
	<script src="/-/static/js/plugins/plugins.js"></script>
	<script src="/-/static/js/plugins/ui.js"></script>

	<!-- ROUTER -->

	<!-- MODELS -->
	<script src="/-/static/js/models/tmpModel.js"></script>	

</head>

<body>

<div id="container">
	<header id="large-header">
		<h1>Bye Bye Birdie</h1>
	</header>
	
	<section id="main">
      {% if request.user.is_authenticated %}
          <img id="avatar" src="http://api.twitter.com/1/users/profile_image/{{ request.user.username }}" /><a id="logout-link" href="{% url 'logout' %}">Logout</a>
      {% endif %}
      {% block content %}{% endblock %}
	</section><!-- /main -->

	<footer>

	</footer>
</div> <!-- /container -->

  <script>window.jQuery || document.write('<script src="/-/static/js/lib/jquery-1.8.2.js"><\/script>')</script>

</body>

 {% block bottom_scripts %}
 {% endblock %}

</html>
