{% extends "base.html" %}

{% block content %}
<section id="user-list">
	<div id="user-profile" class="empty">
		<img src="http://api.twitter.com/1/users/profile_image/{{ user.username }}" />
		<div class="middle-profile">
			<h2>{{ user.name }}</h2>
			<p class="twitter-handle">@{{ user.username }}</p>
		</div>
		<a href="http://www.twitter.com/{{ user.username }}" class="button-style gray">View on Twitter</a>
	</div>

	{% if user.is_opted_out %}
		<div  id="empty-message" class="suck-up">
			<p><em>You</em> have chosen to opt out of Bye Bye Birdie.</p> 
			<p>We respect that decision. Good luck in life.</p>
		</div>
    {% else %}
		<h3 class="left"><a href="/{{ user.username }}">People who have unfollowed you</a></h3>
		<h3 class="right">People you've unfollowed</h3>
		<ul id="unfollow-list" class="edit">
			{% for unfollow in unfollows %}
			<li>
				<a href="/{{ unfollow.user.username }}">
					<img src="http://api.twitter.com/1/users/profile_image/{{ unfollow.user.username }}" />
				</a>
				<div class="right-profile">
					<h2>{{ unfollow.user.name }}</h2>
					<p>{{ unfollow.message }}</p>
				</div>
			</li>
			{% empty %}
			<div  id="empty-message">
				<p>No one has unfollowed you on Bye Bye Birdie yet.</p> 
				<p>I'm sure someone will come along anyday now. It helps if you tweet incessantly about php.</p>
			</div>
			{% endfor %}
		</ul>
	{% endif %}
</section>
{% endblock %}

{% block bottom_scripts %}
	<script src="/-/static/js/views/userView.js"></script>
{% endblock %}

