{% extends "base.html" %}

{% block content %}
<section id="user-list">
	<div id="user-profile">
		<img src="http://api.twitter.com/1/users/profile_image/{{ user.username }}" />
		<div class="middle-profile">
			<h2>{{ user.name }}</h2>
			<p class="twitter-handle">@{{ user.username }}</p>
		</div>
		<a href="http://www.twitter.com/{{ user.username }}" class="button-style gray">View on Twitter</a>
	</div>
	
	{{request}}
	{% if request.user.is_authenticated %}
	<form id="unfollow-message">
		<textarea id="message-text" placeholder="Enter your goodbye message here..."></textarea>
		<p><span id="text-remain"></span> characters left</p>
		<input type="submit" id="submit-message" class="button-style" value="See ya later sucka" />
	</form> 
	{% else %}
		<a href="">Login</a>
	{% endif %}

	<h3>Recent Unfollows</h3>
	<ul id="unfollow-list">
		{% for unfollow in unfollows %}
		<li>
			<img src="http://api.twitter.com/1/users/profile_image/{{ unfollow.unfollowed_by.username }}" />
			<div class="right-profile">
				<h2>{{ unfollow.unfollwed_by.name }}</h2>
				<p>{{ unfollow.message }}</p>
			</div>
		</li>
		{% empty %}
			no one unfollowed this bitch yet.
		{% endfor %}
	</ul>
</section>
{% endblock %}
