{% extends "base.html" %}

{% block content %}
<section id="user-list">
	<div id="user-profile">
		<img src="http://api.twitter.com/1/users/profile_image/{{ user.username }}" />
		<div class="middle-profile">
			<h2>{{ user.name }}</h2>
			<p class="twitter-handle">@{{ user.username }}</p>
		</div>
		<a href="http://www.twitter.com/{{ user.username }}" class="button-style gray">View on Twitter</a>
	</div>
	
	{% if request.user.is_authenticated %}
	<form id="unfollow-message">
		<textarea id="message-text" placeholder="Enter your goodbye message here..."></textarea>
		<p><span id="text-remain"></span> characters left</p>
		<input type="submit" id="submit-message" class="button-style" value="See ya later sucka" />
		<input id="user-hidden" type="hidden" value="{{ user.username }}" />
	</form> 
	{% else %}
		<div id="login-hold">
			<a class"button-style" href="{% url 'socialauth_begin' 'twitter'%}">Login with Twitter</a>
		</div>
	{% endif %}

	<div id="lower-status">
		<h4>So you've unfollowed this person.</h4>
		<p>Here's what you had to say:</p>
		<p class="message">See you later homie.  Never liked you...ever.  I never liked yo ass at all. Peace out.</p>
	</div>

	<h3>Recent Unfollows</h3>
	<ul id="unfollow-list">
		{% for unfollow in unfollows %}
		<li>
			<img src="http://api.twitter.com/1/users/profile_image/{{ unfollow.unfollowed_by.username }}" />
			<div class="right-profile">
				<h2>{{ unfollow.unfollwed_by.name }}</h2>
				<p>{{ unfollow.message }}</p>
			</div>
		</li>
		{% empty %}
		<div  id="empty-message">
			<p>No one has unfollowed <em>{{ user.username }}</em> on Bye Bye Birdie yet.</p> 
			<p>You can be the first though. No pressure. Actually just do what you want.</p>
		</div>
		{% endfor %}
	</ul>
</section>
{% endblock %}

{% block bottom_scripts %}
	<script src="/-/static/js/views/userView.js"></script>
{% endblock %}
